<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>BravoTV</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>url</param-name>
		<param-value></param-value>
	</context-param>
	<servlet>
		<servlet-name>ReadCustomerServlet</servlet-name>
		<servlet-class>com.controller.ReadCustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReadCustomerServlet</servlet-name>
		<url-pattern>/Customer/List</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WriteCustomerServlet</servlet-name>
		<servlet-class>com.controller.WriteCustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WriteCustomerServlet</servlet-name>
		<url-pattern>/Customer/Add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RetailerWriteServlet</servlet-name>
		<servlet-class>com.controller.RetailerWriteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RetailerWriteServlet</servlet-name>
		<url-pattern>/Retailer</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>writeOperatorServlet</display-name>
		<servlet-name>writeOperatorServlet</servlet-name>
		<servlet-class>com.controller.writeOperatorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>writeOperatorServlet</servlet-name>
		<url-pattern>/OperatorReg/Add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReadOperatorServlet</servlet-name>
		<servlet-class>com.controller.ReadOperatorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReadOperatorServlet</servlet-name>
		<url-pattern>/OperatorReg/List</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<description></description>
		<display-name>WriteSTBTypeServlet</display-name>
		<servlet-name>WriteSTBTypeServlet</servlet-name>
		<servlet-class>com.controller.WriteSTBTypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WriteSTBTypeServlet</servlet-name>
		<url-pattern>/SetTopBox</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ReadSTBServlet</display-name>
		<servlet-name>ReadSTBServlet</servlet-name>
		<servlet-class>com.controller.ReadSTBServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReadSTBServlet</servlet-name>
		<url-pattern>/P_SetupBox</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ReadPurchaseServlet</display-name>
		<servlet-name>ReadPurchaseServlet</servlet-name>
		<servlet-class>com.controller.ReadPurchaseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReadPurchaseServlet</servlet-name>
		<url-pattern>/P_SetupBoxT</url-pattern>
	</servlet-mapping>
	<servlet>
  	<servlet-name>PurchasePackageServlet</servlet-name>
  	<servlet-class>com.controller.PurchasePackageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PurchasePackageServlet</servlet-name>
  	<url-pattern>/PurchasePackage</url-pattern>
  </servlet-mapping>
	
	<servlet>
  		<servlet-name>PackageDetail</servlet-name>
  		<servlet-class>com.controller.PackageDetailServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>PackageDetail</servlet-name>
  		<url-pattern>/ChannelPack/Add</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>channelServlet</servlet-name>
  		<servlet-class>com.controller.channelServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>channelServlet</servlet-name>
  		<url-pattern>/ChannelServlet</url-pattern>
		<url-pattern>/AddChannel</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>GetChannelServlet</servlet-name>
  		<servlet-class>com.controller.GetChannelServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>GetChannelServlet</servlet-name>
  		<url-pattern>/GetChannelServlet</url-pattern>
  	</servlet-mapping>
</web-app>